*{
    box-sizing: border-box; /* includes padding and border in the element's total width and height */
}


.container{
    height:400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    /* by default it stack items horizontally-row */
    flex-direction: column; /* stack items vertically */
    /* other are col reverse, row-reverse */
    flex-wrap: wrap; /* items will wrap to next line if they don't fit */
   /* other values of wrap are nowrap, wrap-reverse */
    /* flex flow allows to write flex dir and flex wrap in same line */
    justify-content: flex-start; /* align items horizontally -x axis*/
    /* other values are center, flex-end, space-between, space-around,space evenly*/
    align-items: flex-start; /* align items vertically -y axis */
    /* other values are center, flex-end, stretch, baseline */ 
}
.box{
    border: 1px solid red;
    background-color: lightblue;
    width: 50px;
    flex-grow: 1; /* allows the item to grow and fill the available space */
    flex-shrink: 1; /* allows the item to shrink if necessary */
}
.box1{
    order: 1; /* change the order of the item */
    flex-basis: 100px; /* sets the initial size of the item */
}
.box4{
    order: 3; /* change the order of the item */
    flex-grow: 1;
}   

.box2{
    order: 2; /* change the order of the item */
    flex-shrink: 4; /* this box will shrink faster than others */
}
.box3{
    align-self:stretch; /* this item will stretch to fill the container */
    /* other values are center, flex-start, flex-end, baseline */
}
